.DS_Store
/node_modules/

# React Router
/.react-router/
/build/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### WebStorm ###
.idea/
.idea_modules/

.env
/react-email-starter/node_modules/
